/* 
  This file contains custom CSS styles for the PayWhirl service, including the plan selector widget and cart snippet. 
  The styles are tailored for various Shopify themes.
*/

{%- comment -%} PayWhirl Snippets, version 2.10 {%- endcomment -%}

/* ----- Plan selector widget ----- */

.paywhirl-plan-selector {
  padding: 0;
  border: none;
  margin-bottom: 1em;
  flex-basis: 100%;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.paywhirl-plan-selector > legend {
  padding: 1em 0 0 0;
}

.paywhirl-plan-selector .paywhirl-plan-selector-group {
  margin: 1em 0;
}

.paywhirl-plan-selector .paywhirl-plan-selector-group:not(.paywhirl-group-available) {
  display: none;
}

.paywhirl-plan-selector .paywhirl-plan-selector-group:not(.paywhirl-group-selected) > .paywhirl-plan-selector-plan {
  display: none;
}

.paywhirl-plan-selector .paywhirl-plan-selector-group > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.paywhirl-plan-selector .paywhirl-plan-selector-group > label > input {
  min-height: auto;
  width: 1em;
  margin-right: 0.8em;
}

.paywhirl-plan-selector .paywhirl-plan-selector-plan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1.8em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  max-height: 33%;
}

.paywhirl-plan-selector .paywhirl-plan-selector-plan > label {
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  flex: 0 1 auto;
  white-space: nowrap;
}

.paywhirl-plan-selector .paywhirl-plan-selector-plan > select {
  margin-top: 0;
  margin-bottom: 0;
  min-height: auto;
  width: auto;
  flex-grow: 1;
  background-color: #FFFFFF;
  color: #1E5787;
  border: 1px solid #CCCCCC;
}

.paywhirl-plan-selector .paywhirl-plan-selector-plan > select option:checked {
  background-color: #1E5787;
  color: #FFFFFF;
}

.paywhirl-plan-selector .paywhirl-plan-selector-description {
  text-align: left;
  margin: 1em 0;
}
